.footer{
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    height: 20rem;
    background-color: rgb(59, 84, 91);
    align-items: center;
}
.frase{
    width: 100%;
    height: 15rem;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    
}
.participantes{
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    
}