.l1{
    margin-top: 60px;
    font-size: 25px;
    margin-left: 50px
}
.l2{
    font-size: 25px;
    margin-left: 50px
}
.l3{
    font-size: 25px;
    margin-left: 50px
}
.l4{
    font-size: 25px;
    margin-left: 50px
}

