.section{
  margin-top: -17.5rem;
  margin-left: 14rem;
  font-size: 1.6rem;
}
.box img {
  margin-top: -20rem;
  margin-left: 71.6rem;
  height: auto;
  width: 40%; /* Puedes ajustar el porcentaje según lo que desees */
}

.h1{
  margin-left: 45rem;
}
.nav1{
  margin-left: 55rem;
}

.nav2{
  margin-left: 40rem;
  margin-top: -5.5rem;

}

