.p1{
    width: 400px;
    font-size: 16px;
    margin-top: -225px;
    margin-left: 120px;
}
.box img {
    margin-top: -800px;
    margin-left: 550px;
    width: 30%; 
    height: auto; 
  }
  .title{
    text-align: center;
  }
  .char{
    margin-top: 10px;
    margin-left: 700px;
  }

  .char2{
    margin-left: 530px;
    margin-top: -50px;
  }